      * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Montserrat", sans-serif;
        }

        :root {
            --salmon-pink: #ff6b6b;
        }

        .banner {
            width: 100%;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        /* Grid principal */
        .grid {
            background-color: white;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 20px;
            width: 100%;
            padding: 40px;
        }

        /* Bloques */
        .texto1,
        .img1 {
            width: 100%;
            padding: 40px;
            align-items: center;
            display: flex;
            background: #fff;
            border-radius: 12px;
            flex-direction: column;
            text-align: center;
        }

        .texto1:hover,
        .texto2:hover,
        .img1:hover,
        .img2:hover {
            transform: translateY(-5px);
        }

        .texto1 h2 {
            font-size: 5rem;

        }

        .texto1 p {
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            font-size: 2rem;
        }

        /* Imágenes */
        .imagen1,
        .imagen2 {
            width: 600px;
            border-radius: 10px;
            transition: transform 0.4s ease, filter 0.4s ease;
            cursor: pointer;
        }

        .imagen1:hover,
        .imagen2:hover {
            transform: scale(1.05);
            filter: brightness(1.1);
        }

        /* Botones con efecto subrayado */
        .mi-boton {
            position: relative;
            color: #333;
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px 0;
            transition: color 0.3s ease;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            overflow: hidden;
            background: none;
            border: none;
            margin-top: 20px;
        }

        .mi-boton:hover {
            color: var(--salmon-pink);
        }

        .underline-right {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 2px;
            background: var(--salmon-pink);
            transition: width 0.3s ease;
            display: block !important;
        }

        /* Al hacer hover: aparece desde la derecha */
        .mi-boton:hover .underline-right {
            width: 100%;
            right: auto;
            left: 0;
        }
    .carousel{
        justify-items: center;
    }
    .carousel h2{
        font-size: 2rem;
    }